loguru~=0.7.0
DateTime~=5.2
lxml~=4.9.3
cloudscraper~=1.2.71
requests~=2.31.0
openpyxl~=3.1.2
bs4~=0.0.1
beautifulsoup4~=4.12.2
AutoTransferMachine~=0.0.3
PyYAML~=6.0.1
certifi~=2023.7.22
doubaninfo~=0.0.13
progress~=1.6
torf~=4.2.1
pathlib~=1.0.1
argparse~=1.4.0
typing~=3.7.4.3
setuptools~=68.2.2